
body {
	font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}

header {
	margin: 2.25rem 0;
}

section {
	margin: 2.25rem 0;
}

section.select {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
}

section.select h4 {
	text-align: left;
}

footer {
	margin: 10rem 0;
}

.alert-info {
	padding: 2em;
	color: #804d00;
	font-weight: bold;
	border: solid #e68a00 4px;
	background-color: #ffff99;
	-moz-border-radius: 1em;
  -webkit-border-radius: 1em;
	border-radius: 1em;
}

.exception {
	font-size: larger;
	line-height: 2rem;
}

h1 {
	text-align: center;
	letter-spacing: -.04rem;
	font-size: 6.25rem;
	font-weight: 700;
	margin-bottom: 0;
}

h2 {
	text-align: center;
	letter-spacing: -.04rem;
	font-size: 3.25rem;
	font-weight: 700;
	margin-top: .5rem;
}

h3 {
	text-align: center;
	letter-spacing: -.04rem;
	font-size: 2rem;
	font-weight: 600;
	margin-top: .5rem;
}

h3.back:before {
	content: "←";
	margin-left: -30px;
}

h4 {
	text-align: center;
	font-size: 1.125rem;
	font-weight: 500;
}

a {
	color: black;
}

a.doc {
	background-color: black;
	color: white;
	padding: 1rem 3rem;
	border: solid black 1px;
	font-weight: bold;
	text-decoration: inherit;
	text-align: center;
	margin-bottom: 1.5rem;
}

a.doc:hover {
	background-color: white;
	color: black;
}

a.github {
	font-weight: bold;
	text-decoration: inherit;
	text-align: center;
}

label {
	padding: 5px;
	padding-left: 20px;
}

select, select:active {
	border: none;
	background-color: transparent;
	font-size: 2.75rem;
	font-weight: bold;
	margin-right: 1rem;
}

button {
	background-color: #b31b34;
	color: white;
	padding: .75rem 2rem;
	border: solid #b31b34 1px;
	font-weight: bold;
	text-decoration: inherit;
	text-align: center;
	margin-bottom: 1.5rem;
	cursor: pointer;
}

button:hover {
	background-color: white;
	color: #b31b34;
}

button:disabled, button:disabled:hover {
	background-color: LightGrey;
	border: solid LightGrey 1px;
	color: white;
	cursor: default;
}

label.radio {
  display: block;
  position: relative;
  padding-left: 35px;
	margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label.radio .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

label.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

label.radio input:checked ~ .checkmark {
  background-color: #b31b34;
}

label.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

label.radio input:checked ~ .checkmark:after {
  display: block;
}

label.radio .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

@media only screen and (max-width: 1000px) {

	div.container {
		padding: 0 1rem;
		margin: auto;
	}

	div.list div {
		text-align: center;
		margin-bottom: 3.75rem;
	}

	div.flex.column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	img {
		width: 100%;
		box-shadow: 0 10px 20px rgb(0 0 0 / 22%);
	}
}

@media only screen and (min-width: 1000px) {

	div.container {
		padding: 0 5rem;
		margin: auto;
		max-width: 1200px;
	}

	header {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
	}

	section.detail {
		text-align: center;
	}

	section.content {
		margin-top: 5rem;
	}

	div.flex.column {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

  div.list {
	  display: flex;
		align-items: center;
		justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 2rem;
	}

	div.list * {
		text-align: left;
	}

	img {
		width: 50%;
		box-shadow: 0 10px 20px rgb(0 0 0 / 22%);
	}

	img.full {
		width: 100%;
	}
}
