/* Shared */

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 120px;
}

.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-6 {width: 50%;}
.col-9 {width: 75%;}
.col-12 {width: 100%;}

img {
  width: 100%;
  height: auto;
}

.content {
  padding: 10px;
}

/* Step 1 */

.containers, .container, .elements, .element {
  margin-top: 1em;
  padding-left: 1em
}

.container, .element {
  padding: 1em;
}

.containers {
  border-left: solid darkblue 5px;
}

.containers-label {
  color: darkblue;
}

.container {
  border: solid lightblue 3px;
}

.container-label {
  color: lightblue;
}

.elements {
  border-left: solid indianred 5px;
}

.elements-label {
  color: indianred;
}

.element {
  border: solid lightcoral 3px;
}

.element-label {
  color: lightcoral;
}

/* Step 2 */

.layout-modelgroup {
  border: solid seagreen 5px;
  min-height: 120px;
  margin-bottom: 10px;
}

.layout-modelgroup-legend {
  border: solid seagreen 5px;
  color: seagreen;
  padding: 3px;
  margin-right: 3px;
}

.layout-area {
  border: solid darkred 5px;
  min-height: 120px;
  margin-bottom: 10px;
}

.layout-area-legend {
  border: solid darkred 5px;
  color: darkred;
  padding: 3px;
  margin-right: 3px;
}

.layout-group {
  border: solid indigo 5px;
  min-height: 120px;
}

.layout-group-legend {
  border: solid indigo 5px;
  color: indigo;
  padding: 3px;
  margin-right: 3px;
}

.layout-row {
  border: solid darkorange 5px;
  min-height: 120px;
}

.layout-row-legend {
  border: solid darkorange 5px;
  color: darkorange;
  padding: 3px;
  margin-right: 3px;
}

.layout-col {
  border: solid darkgrey 5px;
  min-height: 120px;
}

.layout-column-legend {
  border: solid darkgrey 5px;
  color: darkgrey;
  padding: 3px;
  margin-right: 3px;
}

.layout-content {
  border: solid black 5px;
  min-height: 120px;
}

.layout-content-legend {
  border: solid black 5px;
  color: black;
  padding: 3px;
  margin-right: 3px;
}

/* Step 3 */

.content-item {
  margin-top: 50px;
}

.content-item hr {
  margin-bottom: 50px;
}

.info-content {
  border: dotted darkgrey 3px;
  background-color: light-grey;
  padding: 10px;
  margin-bottom: 5px;
}

.info-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.info-content dl {
  margin: 0;
  padding: 0;
}

.info-formatter {
  border: dotted darkseagreen 3px;
  padding: 10px;
}

.box-blue {
  background-color: #144382;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.box-red {
  background-color: #b31b34;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.lead {
  background-color: #f7f7f7;
  padding: 10px;
}

.lead h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
}

/* Step 6 */

.layout-modelgroup img {
  width: 300px;
}
