.formatter {
  border: dotted darkseagreen 3px;
  padding: 10px;
}

img {
  width: 100%;
  height: auto;
}

.box-blue {
  background-color: #144382;
  color: #fff;
}

.box-red {
  background-color: #b31b34;
  color: #fff;
}
