* {
  box-sizing: border-box;
}

.modelgroup {
  border: solid maroon 5px;
  width: 100%;
  height: 120px;
  text-align: center;
  padding: 10px;
  color: maroon;
  margin-bottom: 10px;
}

.area {
  border: solid darkred 5px;
  width: 100%;
  min-height: 120px;
  margin-bottom: 10px;
}

.row {
  border: solid darkorange 5px;
  width: 100%;
  min-height: 120px;
  text-align: center;
  color: darkorange;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-9 {width: 75%;}
.col-12 {width: 100%;}

.content {
  color: black;
  background-color: lightgrey;
  min-height: 120px;
  padding: 10px;
}
